**/.checkstyle
**/.classpath
**/*.jar
**/bin
**/nbproject
**/nbplatform
**/.project
**/.settings
**/.externalToolBuilders
**/build.xml
build
**/.factorypath
**/src_gen
lib
mxtool/*.class
mx/*.pyc
mx/env
mx/eclipse-launches
jdk1.*
workingsets.xml
published